body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  background-color:azure;
}
header {
  background-color:aliceblue;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center; 
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:x-large;
  background-color: beige;
  color:black;
  text-align: center;
}



ul{
  list-style-type: none;
  
}

li{
  display:inline-block;
  font-size: 20px;
  font-weight:bolder;
  background-color: azure;
  padding: 10px;
  color:yellow;
  border:solid;
  border-radius: 20%;
  margin:0 auto;
  margin-top:1%;
  align-items: center;
 

}

a{
  border:1px thin black;
   transition-property: color,width,background,borer-radius;
  transition-duration: .5s;
  transition-timing-function: linear;
  transition-delay: .5s;
 
}



nav{
  display:inline-block;
  justify-content: center;
   background-image: url("../images/backgroundyoga.jpg");
   background-repeat: no-repeat;
   height: 400px;
   background-size: cover;
   background-position: center;
  opacity: .8;
  
}
a:link { color: #0066cc; }
a:visited { color:black }
a:hover { color:yellow;
background-color:darkslategrey;
}
a:active { color:darkgreen; border-radius: 80;}



/*nav img{
  width:10%;
}*/

main{
  background-color:antiquewhite;
  font-size:large;
}
p{
  line-height:100% ;
   font-family:'Times New Roman', Times, serif
}

footer{
  background-color:azure;
  font-size:medium;
}

.current{
  text-transform: uppercase;
  border:solid black 1px;
  background-color:rgb(199, 213, 239);
 block-size: auto;
 padding: 10px;
 
}

.grid img{
  border: 2px solid black;
}

.headimg
{
align-content:end;
}




